$main-color: #A274FF;
$dark-color: #120037;
$white-color: #efefef;
$red-color: #db284f;
$frame-color: #c0acc180;
$image-color-shadow: #a274ff3d;
$card-color-shadow: #a274ff52;
$image-shadow: 0 5px 10px 0 $image-color-shadow;
$card-shadow: 0 7.5px 15px 0 $card-color-shadow;

.r-dash-request-con {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: $card-shadow;
  position: relative;
  // Creator info
  & .r-dash-profile-con {
    display: flex;
    align-items: flex-start;
    column-gap: 25px;
    & .username {
      font-size: 27.5px;
      font-weight: 700;
      color: $dark-color;
      line-height: 1;
    }
    & .email {
      font-size: 18px;
      margin-top: 5px;
    }
    & .id {
      font-size: 12.5px;
      margin-top: 5px;
    }
    & .r-dash-profile-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      outline: 4px solid $frame-color;
      box-shadow: $image-shadow;
    }
    & .r-dash-profile-avatar {
      display: flex;
      width: 100px;
      height: 100px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $dark-color;
      outline: 4px solid $frame-color;
      box-shadow: $image-shadow;
      & p {
        font-size: 30px;
        line-height: 1;
        color: $white-color;
      }
    }
  }
  // Request info
  & .r-dash-request-info-con {
    & .request-title {
      font-size: 32px;
      font-weight: 700;
      color: $dark-color;
      line-height: 1;
    }
    & .request-amount {
      font-size: 20px;
      color: $dark-color;
      line-height: 1;
      margin-top: 15px;
      margin-bottom: 25px;
    }
    & .request-date {
      font-weight: 700;
      color: $dark-color;
    }
  }
  // Request badge
  & .request-badge {
    display: flex;
    height: 50px;
    width: max-content;
    padding: 10px 25px;
    position: absolute;
    right: 50px;
    top: calc(50% - 25px);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    & .rs-dropdown-toggle {
      color: $white-color;
      transition: all 300ms ease-in-out;
      &:hover {
        color: $dark-color;
      }
    }
  }
  // Save btn
  & .r-dash-save-btn {
    display: flex;
    height: 50px;
    width: max-content;
    padding: 10px 25px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    position: absolute;
    right: 250px;
    top: calc(50% - 25px);
    transform: scale(0, 0);
    &.active {
      transform: scale(1,1);
      &:hover {
        transform: scale(0.975, 0.975) translateY(3px);
      }
      &:active {
        transform: scale(0.95, 0.95) translateY(5px);
      }
    }
  }

}
