div.left.square {
  height: 250px;
}

.section {
    display: flex;
    align-self: center;
    min-width: 0px;
    max-width: 1200px;
    order: 4;
    min-height: 200px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% - 0px);
    margin: 0px auto;
    justify-content: space-around;
    gap: 10px 30px;
    overflow: visible;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    padding: 150px 25px 50px;
    display: flex;
    &.close {
      padding: 0 25px;
      &.top {
        padding: 150px 25px 0;
      }
    }
    @media screen and (max-width: 1100px) {
      flex-direction: column;
      row-gap: 50px;
    }
    @media screen and (min-width: 1600px) {
      max-width: 1600px;
    }

    & img.left {
        align-self: center;
        min-width: 250px;
        max-width: 30%;
        min-height: 375px;
        width: 250px;
        flex-grow: 1;
        height: max-content;
        margin: 0px;
        justify-content: center;
        overflow: visible;
        border-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.5) -10px -10px 10px 0px;
        background-color: rgba(67, 76, 94, 0.5);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &.square {
          height: 250px;
        }
        &.wide {
          width: auto;
          max-width: 45%;
          height: auto;
          box-shadow: none;
        }
        @media screen and (max-width: 1100px) {
          width: 100%;
          max-width: 100%;
          order: 1;
        }
        @media screen and (min-width: 1600px) {
          width: 400px;
          max-width: 400px;
          height: 600px;
        }
    }

    & div.right {
        align-self: center;
        min-width: 0px;
        max-width: 70%;
        min-height: 0px;
        width: 0px;
        flex-grow: 1;
        height: max-content;
        margin: 0px;
        justify-content: flex-start;
        row-gap: 10px;
        overflow: visible;
        border-radius: 0px;
        padding: 0px 20px;
        @media screen and (max-width: 1100px) {
          width: 100%;
          max-width: 100%;
        }

        & h1 {
            align-self: flex-start;
            min-width: 0px;
            order: 1;
            min-height: 0px;
            height: max-content;
            flex-grow: 0;
            flex-shrink: 0;
            width: auto;
            margin: 0px;
            white-space: pre-wrap;
            overflow: visible;
            word-break: break-word;
            font-family: Poppins;
            font-size: 36px;
            font-weight: 700;
            color: rgb(51, 51, 51);
            line-height: 1;
            border-radius: 0px;
            @media screen and (min-width: 1600px) {
              font-size: 50px;
            }
        }

        & p {
            align-self: flex-start;
            min-width: 0px;
            order: 2;
            min-height: 0px;
            height: max-content;
            flex-grow: 0;
            flex-shrink: 0;
            width: auto;
            margin: 0px;
            white-space: pre-wrap;
            overflow: visible;
            word-break: break-word;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            color: rgb(85, 85, 85);
            line-height: 1.4;
            border-radius: 0px;
            @media screen and (min-width: 1600px) {
              font-size: 25px;
            }
        }
    }
}

.title-mid {
    align-self: center;
    min-width: 0px;
    min-height: 0px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    margin: 0px;
    white-space: pre-wrap;
    overflow: visible;
    word-break: break-word;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    line-height: 1;
    border-radius: 0px;
}

.mid-des {
    align-self: flex-start;
    min-width: 0px;
    min-height: 0px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    margin: 0px;
    white-space: pre-wrap;
    overflow: visible;
    word-break: break-word;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    color: rgb(85, 85, 85);
    text-align: center;
    line-height: 1.4;
    border-radius: 0px;
}
