.trianlge-bottom-wrap {
    align-self: flex-start;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.triangle-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    @media screen and (min-width: 1600px) {
      bottom: -1px;
    }
}

.triangle-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.triangle-bottom .shape-fill {
    fill: #434C5E;
}
