.top-div {
    align-self: center;
    min-width: 0px;
    max-width: 1200px;
    min-height: 200px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% - 0px);
    margin: 0px auto;
    justify-content: space-around;
    gap: 10px 30px;
    overflow: visible;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    padding: 150px 25px 50px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    align-content: stretch;
    box-sizing: border-box;

    & .top-title-con {
        display: flex;
        align-self: center;
        min-width: 0px;
        max-width: 70%;
        min-height: 0px;
        width: 0px;
        flex-grow: 1;
        height: max-content;
        margin: 0px 0px 25px;
        justify-content: flex-start;
        row-gap: 10px;
        overflow: visible;
        border-radius: 0px;
        padding: 0px 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
        @media (max-width: 1100px) {
          max-width: 100%;
        }
        @media (min-width: 1600px) {
          max-width: 100%;
        }

        & .t1 {
            align-self: center;
            min-width: 0px;
            order: 1;
            min-height: 0px;
            height: max-content;
            flex-grow: 0;
            flex-shrink: 0;
            width: auto;
            margin: 0px;
            white-space: pre-wrap;
            overflow: visible;
            word-break: break-word;
            font-family: Poppins;
            font-size: 36px;
            font-weight: 700;
            color: rgb(51, 51, 51);
            line-height: 1;
            border-radius: 0px;
            position: relative;
            overflow-wrap: break-word;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and (min-width: 1600px) {
              font-size: 50px;
            }
        }

        & .p1 {
            min-width: 0px;
            order: 2;
            min-height: 0px;
            height: max-content;
            flex-grow: 0;
            flex-shrink: 0;
            width: auto;
            margin: 0px;
            white-space: pre-wrap;
            overflow: visible;
            word-break: break-word;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            color: rgb(85, 85, 85);
            text-align: center;
            line-height: 1.4;
            border-radius: 0px;
            position: relative;
            overflow-wrap: break-word;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and (max-width: 1100px) {
              text-align: justify;
            }
            @media screen and (min-width: 1600px) {
              font-size: 30px;

            }
        }
    }
}

.big-img {
    align-self: flex-start;
    min-width: 100%;
    max-width: 100%;
    min-height: 550px;
    width: 100%;
    flex-grow: 1;
    height: max-content;
    margin: 0px;
    justify-content: flex-start;
    overflow: visible;
    border-radius: 0px;
    box-shadow: rgb(67 76 94 / 70%) 20px 24px 4px 0px;
    background-color: rgba(67, 76, 94, 0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.growth-div {
    align-self: flex-start;
    min-width: 0px;
    order: 7;
    min-height: 0px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% - 0px);
    margin: 0px;
    justify-content: flex-start;
    row-gap: 20px;
    overflow: visible;
    border-radius: 0px;
    padding: 50px 25px;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    display: flex;
    box-sizing: border-box;

    & .mid-des {
        align-self: center;
        display: flex;
        min-width: 200px;
        max-width: 500px;
        min-height: 0px;
        height: max-content;
        flex-grow: 0;
        flex-shrink: 0;
        width: auto;
        margin: 0px;
        white-space: pre-wrap;
        overflow: visible;
        word-break: break-word;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        color: rgb(85, 85, 85);
        text-align: center;
        line-height: 1.4;
        border-radius: 0px;
        @media screen and (max-width: 1100px) {
          text-align: justify;
        }
        @media screen and (min-width: 1600px) {
          font-size: 25px;
          max-width: 1200px;
        }
    }
}

.block-txt {
  @media (max-width: 1100px) {
    text-align: justify;
  }
}
