.tac-page {
  & .WordSection1 {

    & .r-main-title:first-child {

      @media (max-width: 1100px) {
        font-size: 25px;
      }
      @media (max-width: 768) {
        font-size: 14px;
      }
    }
  }
  & .banner-image {
    display: block;
    margin: 0 auto 50px;
    max-width: 100%;
  }
}
