.tac-page {
  & .WordSection1 {

    & .r-main-title:first-child {

      @media (max-width: 1100px) {
        font-size: 25px;
      }
      @media (max-width: 768) {
        font-size: 14px;
      }
    }
  }
  & .banner-image {
    display: block;
    margin: 0 auto 50px;
    width: 100%;
    max-width: 100%;
  }
  & .inner {
    & h4 {
      font-family: poppins;
      font-size: 50px;
      line-height: 32px;
      &.MsoNormal {
        text-align: start;
      }
    }
    & p {
      font-size: 25px;
      font-family: poppins;
    }
  }
}
