$main-color: #A274FF;
$dark-color: #120037;
$white-color: #efefef;
$image-color-shadow: #a274ff3d;
$card-color-shadow: #a274ff52;
$image-shadow: 0 5px 10px 0 $card-color-shadow;

.project-card {
  transition: all 150ms ease-out;
  &:hover {
    text-decoration: none;
    transform: scale(1.025, 1.025);
  }
}
.rs-loader-spin {
  &:after {
    border-color: #A274FF transparent transparent;
  }
}

.page-wrapper {
  padding: 0 25px;
}

.v-project-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $dark-color;
  & .inner {
    width: 100%;
    & .nav-item {
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: $white-color;
      &.active {
        color: $main-color;
      }
      &:hover {
        color: $main-color;
      }
    }
  }
}

.project-section {
  padding: 75px 0;
}
.section-title {
  font-size: 30px;
  font-weight: bold;
  color: $dark-color;
  padding-left: 25px;
}

// Images
.index-img-section {
  padding: 75px 0 0;
  & .img-container {
    padding: 25px;
    & .img-title {
      font-size: 25px;
      font-weight: bold;
      color: $dark-color;
    }
    & .small-image {
      box-shadow: $image-shadow;
    }
    & .big-image {
      width: 100%;
      height: auto;
      border-radius: 5px;
      box-shadow: $image-shadow
    }
  }
}

// Movies
.project-movies-con {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  & .movie-img-con {
    padding: 25px;
    & .movie-image {
      width: 90%;
      height: auto;
      border-radius: 5px;
      box-shadow: $image-shadow;
    }
  }
}
