$card-shadow: 0 10px 20px 0 rgba(0,0,29, .25);

.no-notifications-con {
  // For scraping
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: $card-shadow;
  margin-top: 45px;
  padding: 2rem;

}
