// Variables
// Colors
$dark: #141628;
$main: #3598FE;
$white: #fefefe;
$input-bg: rgb(224, 230, 235);
$blue-shadow: #359afe7b;
$dark-shadow: rgba(0, 0, 29, .25);

$mobile: 900px;

.edit-account-modal {
  & .modal-header {
    & .modal-title {
      text-align: center;
      font-size: x-large;
      font-weight: 700;
      color: $dark;
    }
  }
  & .modal-body {
    display: flex; flex-direction: column;
    align-items: center;
    padding-top: 20px;
    & .edit-profile-form {
      display: flex; flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      min-width: 300px;
      width: 100%;
      max-width: 900px;
      row-gap: 15px;
      @media (max-width: $mobile) {
        align-items: center;
      }
      & .form-element {
        display: flex; flex-direction: column;
        row-gap: 2.5px;
        width: 50%;
        flex-grow: 1; flex-shrink: 0;
        @media (max-width: $mobile) {
          align-items: center;
        }
        & .label {
          color: rgb(90,90,90);
          font-weight: 300;
          font-size: medium;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          text-overflow: ellipsis;
          line-height: 1.5;
          @media (max-width: $mobile) {
            text-align: center;
            font-size: small;
          }
        }
        & .input {
          width: calc(100% - 12.5px);
          border-radius: 2.5px;
          border-width: 2.5px;
          background-color: $input-bg;
          font-size: medium;
          box-sizing: border-box;
          height: 45px;
          display: flex;
          align-items: center;
          &::placeholder {
            font-size: medium;
          }
          &.picker {
            width: 200px;
            & .rs-picker-toggle {
              background-color: rgb(224, 230, 235)!important;
            }
          }
          & [role="combobox"] {
            background-color: $input-bg!important;
            border-radius: 2.5px;
            border-width: 2.5px;
            display: flex;
            align-items: center;
            & .rs-picker-toggle-value {
              color: rgb(90,90,90);
            }
          }
        }
        &.double-input {
          flex-direction: row;
          column-gap: 25px;
          width: 100%;
          @media (max-width: $mobile) {
            flex-direction: column;
            align-items: center;
            column-gap: 15px;
          }
          & .inner {
            display: flex; flex-direction: column;
            width: 50%;
            @media (max-width: $mobile) {
              column-gap: 5px;
            }
            & .input {
              width: 100%;
            }
          }
          & .box1 {
            width: 50%;
            display: flex;
            column-gap: 15px;
            @media (max-width: $mobile) {
              margin-bottom: 10px;
              flex-wrap: wrap;
            }
            & .postal-code {
              width: 150px;
              flex-shrink: 0;
            }
            & .city {
              width: 100%;
            }
          }
          & .box2 {
            width: 50%;
            display: flex;
            column-gap: 15px;
            @media (max-width: $mobile) {
              flex-wrap: wrap;
            }
            & .street {
              flex-shrink: 0;
              flex-grow: 1;
            }
            & .nr {
              width: 125px;
            }
          }
        }
      }
      & .r-btn.r-main-btn {
        font-size: large;
        padding: 10px 0;
        margin: 20px auto;
        width: 300px;
      }
    }
  }
}
