// Sizes
$mobile: 768px;
$tablet: 1100px;
$desktop: 1600px;
// Colors
$dark: #141628;
$dark-light: rgb(75, 75, 75);
$dark-grey: #141414;
$main: #3598FE;
$white: #FEFEFE;
$dark-blue: #3549FE;
$border-color: #D9DEED;
$blue-shadow: #359AFE7B;
$dark-shadow: rgba(0, 0, 29, .25);
$dark-blue-shadow: #3549FE7B;

.r-page-wrap.imprint-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 150px 0;
  @media (max-width: $tablet) {
    max-width: 100%;
    padding: 125 20px;
  }
  @media (min-width: $desktop) {
    max-width: 1600px;
  }
  & .r-main-title {
    text-align: start;
    width: 100%;
    padding: 0 20px;
  }
  & .imprint-inner {
    max-width: 600px;
    margin: 75px auto;
    @media (max-width: $mobile) {
      max-width: 100%;
      padding: 20px;
    }
    & .intro {
      margin-bottom: 25px;
    }
    & p {
      font-size: 16px;
      color: $dark;
      opacity: .9;
      margin-bottom: 50px;
    }
    & .juri-paragraph {
      & .title {
        font-size: 20px;
        color: $dark;
      }
    }
  }
}
