.logout-btn {
  background-color: rgba(0,0,0, .0)!important;
  transition: all 300ms ease-out;
  &:hover {
    background-color: #c30010!important;
    color: white!important;
  }
  &:active {
    background-color: #95030f!important;
    color: rgb(215, 214, 214)!important;
  }
}
.app-navbar-brand {
  cursor: pointer;
}

.like-a-btn {
  background-color: whitesmoke;
  color: #101219;
}
.inner-dashboard {
  position: relative;
  max-width: 100%;
  & .sidebar.rs-sidenav {
    position: sticky;
  }
  @media (min-width: 1600px) {
    max-width: 1600px;
    margin: auto;
    box-shadow: 0 0 10px 3px rgba(70,70,70,.25);
  }
}

.inner-bar {
  max-width: 100%;
  @media (min-width: 1600px) {
    max-width: 1600px;
    margin: auto;
  }
}
