.bundle {
    border-radius: 25px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 29, .25);

    &:hover {
        transform: scale3d(1.01, 1.01, 1) translateY(-3px);
        box-shadow: 0 15px 30px 0 rgba(0, 0, 29, .35);
    }
}

.bundle-img {
    border-radius: 25px 25px 0 0;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 250px;
}

.play-icon {
    width: 150px;
    height: 150px;
    background-color: #fefefe;
    border-radius: 50%;
    position: absolute;
    right: 75px;
    top: -75px
}