#english-document, #german-document {
  width: 587px;
  padding: 20px;
  margin: auto;
  & .WordSection1 {
    width: 100%;
    text-align: justify;
    padding: 0; margin: 0;
  }
  & .WordSection2 {
    width: 100%;
    text-align: justify;
    padding: 0; margin: 0;
  }
  & h1 {
    font-size: large;
    line-height: 1.2;
  }
  & h2 {
    font-size: medium;
    line-height: 1.2;
    margin-top: 15px;
  }
  & p {
    font-size: small;
    line-height: 1.15;
  }
  & .break-before {
    page-break-before: always;
  }
  & .contract-project-fact {
    display: inline-block;
    width: 150px;
    margin-right: 100px;
  }
}

.hide-this {
  display: none;
}
