$dark: #141628;
$main: #3598FE;
$white: #fefefe;
$input-bg: rgb(224, 230, 235);
$blue-shadow: #359afe7b;
$dark-shadow: rgba(0, 0, 29, .25);

$blue-border: 1px solid $main;

.redrum-invoice {
  width: 590px;
  position: relative;
  padding: 80px 25px 0;
  margin: auto;
  font-size: 10px;
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 400;

  & .invoice-img {
    position: absolute;
    top: 25px;
    right: 20px;
  }
  & .intro {
    display: flex;
    justify-content: space-between;
    & p {
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 10px;
      font-weight: 400;
    }
    & .box2 {
      text-align: end;
    }
  }
  & .doc-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .small-title {
      font-size: medium;
      line-height: 1;
    }
  }
  & .project-information-table {
    width: 100%;
    & thead {
      font-weight: 700;
      height: 75px;
    }
    & tbody {
      border-top: $blue-border;
      border-bottom: $blue-border;
      font-family: Arial, sans-serif;
      font-size: 10px;
      font-weight: 400;
      & tr {
        height: 50px;
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-weight: 400;
      }
    }
  }
  & .investment-info {
    margin-top: 15px;
    margin-right: 17.5px;
    margin-left: auto;
    max-width: 200px;
    display: flex; flex-direction: column;
    row-gap: 2px;
    & .inf {
      display: flex;
      justify-content: space-between;
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 10px;
      font-weight: 400;
      & .val .unit {
        display: inline-block;
        width: 25px;
        text-align: end;
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-weight: 400;
      }
    }
  }
  & .doc-footer {
    border-top: $blue-border;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0;
    & .footer-box {
      display: flex;
      flex-direction: column;
      font-size: 10px;
      max-width: 100%;
      row-gap: 2.5px;
      font-weight: 400;
      &.first {
        max-width: 250px;
      }
      &.last {
        max-width: 120px;
      }
      & p {
        margin: 0;
        font-size: 10px;
        font-family: Arial, sans-serif;
        font-weight: 400;
      }
    }
    & a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 400;
    }
  }
}
