.cta-down-title {
    align-self: center;
    min-width: 0px;
    min-height: 0px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    margin: 0px;
    white-space: pre-wrap;
    overflow: visible;
    word-break: break-word;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    border-radius: 0px;
}