.feature-ttl-div {
    margin: auto;
    align-self: center;
    min-width: 0px;
    max-width: 1200px;
    order: 6;
    min-height: 200px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% - 0px);
    margin: 0px auto;
    justify-content: flex-start;
    gap: 10px 30px;
    overflow: visible;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    padding: 50px 25px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    align-content: stretch;
    box-sizing: border-box;
    @media (min-width: 1600px) {
      max-width: 90%;
    }

    .main-title {
        align-self: center;
        min-width: 100%;
        max-width: 900px;
        min-height: 0px;
        width: 100%;
        flex-grow: 1;
        height: max-content;
        margin: 0px 0px 25px;
        white-space: pre-wrap;
        overflow: visible;
        word-break: break-word;
        font-family: Poppins;
        font-size: 36px;
        font-weight: 700;
        color: rgb(51, 51, 51);
        text-align: center;
        line-height: 1;
        border-radius: 0px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & .img-div {
        z-index: 2;
        align-self: center;
        min-width: 260px;
        max-width: 700px;
        width: 700px;
        flex-grow: 1;
        height: 500px;
        margin: 0px;
        border-radius: 0px;
        min-height: 260px;
        max-height: 500px;
        position: relative;

        & img {
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 100%;
            height: auto;
            margin: 0px;
            border-radius: 0px;
            object-fit: contain;
        }
    }

    .txt-div-left {
        border-left: 2px solid rgb(19, 22, 40);
    }

    .txt-div-right {
        border-right: 2px solid rgb(19, 22, 40);
    }

    & .txt-div-left,
    .txt-div-right {
        align-self: center;
        min-width: 260px;
        min-height: 0px;
        width: 260px;
        flex-grow: 1;
        height: max-content;
        margin: 0px;
        row-gap: 10px;
        overflow: visible;
        border-radius: 0px;

        padding: 0px 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        display: flex;
        position: relative;

        justify-content: flex-start;

        .left {
            align-self: flex-start;
        }

        .right {
            align-self: flex-end;
        }

        & .txt-title {

            min-width: 0px;
            order: 1;
            min-height: 0px;
            height: max-content;
            flex-grow: 0;
            flex-shrink: 0;
            width: auto;
            margin: 0px;
            white-space: pre-wrap;
            overflow: visible;
            word-break: break-word;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 700;
            color: rgb(51, 51, 51);
            line-height: 1;
            border-radius: 0px;
            position: relative;
            overflow-wrap: break-word;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        & .txt-des {
            min-width: 0px;
            order: 2;
            min-height: 0px;
            height: max-content;
            flex-grow: 0;
            flex-shrink: 0;
            width: auto;
            margin: 0px;
            white-space: pre-wrap;
            overflow: visible;
            word-break: break-word;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            color: rgb(85, 85, 85);
            line-height: 1.4;
            border-radius: 0px;
            position: relative;
            overflow-wrap: break-word;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
