div#hero-wrap {
    z-index: 3;
    align-self: stretch;
    min-width: 0px;
    order: 1;
    min-height: 0px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    margin: 0px;
    justify-content: space-between;
    row-gap: 0px;
    overflow: visible;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    display: flex;

    & div#empty {
        z-index: 6;
        align-self: flex-start;
        min-width: 100%;
        max-width: 100%;
        order: 1;
        min-height: 80px;
        height: max-content;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        margin: 0px;
        margin-bottom: 50px;
        justify-content: flex-start;
        overflow: visible;
        border-radius: 0px;
    }


    & div#hero {
        z-index: 6;
        align-self: center;
        min-width: 280px;
        max-width: 1150px;
        order: 3;
        min-height: 0px;
        height: max-content;
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% - 0px);
        margin: 0px;
        justify-content: space-around;
        gap: 20px;
        overflow: visible;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 0px;
        padding: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        display: flex;
        align-content: stretch;
        box-sizing: border-box;


        & #hero-left {
            z-index: 5;
            align-self: center;
            min-width: 0px;
            order: 1;
            min-height: 0px;
            width: max-content;
            flex-grow: 0;
            height: max-content;
            margin: 0px;
            justify-content: center;
            row-gap: 20px;
            overflow: visible;
            border-radius: 0px;
            flex-direction: column;
            flex-wrap: nowrap;
            position: relative;
            display: flex;
            box-sizing: border-box;

            & h1 {
                z-index: 3;
                align-self: flex-start;
                min-width: 200px;
                max-width: 500px;
                order: 1;
                min-height: 0px;
                height: max-content;
                flex-grow: 0;
                flex-shrink: 0;
                width: calc(100% - 0px);
                margin: 0px;
                white-space: pre-wrap;
                overflow: visible;
                word-break: break-word;
                font-family: Poppins;
                font-size: 48px;
                font-weight: 600;
                color: rgb(255, 255, 255);
                line-height: 1.2;
                border-radius: 0px;
                text-decoration: none;
                font-style: normal;
                text-align: left;
                overflow-wrap: break-word;
            }

            & div {
                z-index: 4;
                align-self: flex-start;
                min-width: 200px;
                max-width: 500px;
                order: 3;
                min-height: 0px;
                height: max-content;
                flex-grow: 0;
                flex-shrink: 0;
                width: calc(100% - 0px);
                margin: 0px;
                white-space: pre-wrap;
                overflow: visible;
                word-break: break-word;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                color: rgb(255, 255, 255);
                line-height: 1.4;
                border-radius: 0px;
                position: relative;
                overflow-wrap: break-word;
                box-sizing: border-box;
            }
        }

        & #hero-right {
            z-index: 2;
            align-self: center;
            min-width: 200px;
            max-width: 300px;
            min-height: 225px;
            order: 2;
            width: 250px;
            height: 250px;
            flex-grow: 1;
            margin: 0px;
            border-radius: 0px;
            position: relative;
            box-sizing: border-box;
            height: auto;

            & img {
                position: absolute;
                top: 35px;
                left: -45px;
                display: block;
                width: 115%;
                height: 100%;
                margin: 0px;
                border-radius: 0px;
                padding: 0;
                border: 0;
                object-fit: fill;
            }
        }

    }

    & #stat-wrap {
        align-self: flex-start;
        min-width: 100%;
        max-width: 100%;
        order: 4;
        min-height: 250px;
        height: max-content;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        margin: 0px;
        justify-content: flex-start;
        overflow: visible;
        border-radius: 0px;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;

        & #stats {
            z-index: 6;
            align-self: center;
            min-width: 100%;
            max-width: 100%;
            order: 7;
            min-height: 250px;
            max-height: 250px;
            height: max-content;
            flex-grow: 0;
            flex-shrink: 0;
            width: 100%;
            margin: 0px;
            justify-content: center;
            overflow: visible;
            background-color: rgb(254, 254, 254);
            border-radius: 0px;
            flex-direction: column;
            flex-wrap: nowrap;
            position: relative;
            display: flex;
            box-sizing: border-box;

            & #stats-inner {
                z-index: 2;
                align-self: center;
                min-width: 90%;
                max-width: 90%;
                order: 2;
                min-height: 150px;
                height: max-content;
                flex-grow: 0;
                flex-shrink: 0;
                width: 90%;
                margin: 0px;
                justify-content: space-around;
                overflow: visible;
                border-radius: 0px;
                flex-direction: row;
                flex-wrap: wrap;
                display: flex;
                position: relative;
                display: flex;
                align-content: stretch;
            }
        }
    }
}

.btn-1 {
    align-self: flex-start;
    min-width: 150px;
    max-width: 250px;
    min-height: 44px;
    flex-grow: 1;
    height: max-content;
    margin: 0px;
    white-space: pre-wrap;
    overflow: visible;
    word-break: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: rgb(239, 242, 245);
    text-align: center;
    letter-spacing: 0.3px;
    line-height: 1.4;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px 0px;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    transition: color 200ms ease 0s, background 200ms ease 0s;
}

.btn-2 {
    align-self: flex-start;
    min-width: 150px;
    max-width: 150px;
    min-height: 44px;
    width: 150px;
    flex-grow: 1;
    height: max-content;
    margin: 0px;
    white-space: pre-wrap;
    overflow: visible;
    word-break: break-word;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0.3px;
    line-height: 1.4;
    border-radius: 5px;
    transition: color 200ms ease 0s, background 200ms ease 0s;
    text-decoration: none;
    font-style: normal;
    border-style: none;
    border-width: 1px;
    border-color: rgb(107, 107, 107);
}
