.stat-img {
    z-index: 2;
    align-self: center;
    min-width: 100px;
    max-width: 100px;
    order: 1;
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    flex-grow: 1;
    width: 100px;
    margin: 0px;
    border-radius: 0px;
    @media (min-width: 1600px) {
      min-height: 150px;
      max-height: 150px;
      height: 150px;
      width: 150px;
      min-width: 150px;
      max-width: 150px;
    }
}
