$mobile: 768px;
$tablet: 1100px;
$desktop: 1600px;

$dark: #141628;
$dark-light: rgb(75, 75, 75);
$main: #3598FE;
$white: #FEFEFE;
$dark-blue: #3549FE;
$border-color: #D9DEED;
$blue-shadow: #359AFE7B;
$dark-shadow: rgba(0, 0, 29, .25);
$dark-blue-shadow: #3549FE7B;

.WordSection1 {
  padding: 150px 0;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  @media (max-width: 1200px) {
    max-width: 100%;
    padding: 150px 20px;
  }
  // Page title
  & h1:first-child.r-main-title {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    font-family: poppins;
    font-size: x-large;
    color: $dark;
    line-height: 1.25;
  }
  & .inner {
    max-width: 600px;
    margin: 25px auto;
    & p {
      text-align: justify;
      font-size: 16px;
      color: $dark;
      opacity: 0.9;
      margin: 0px;
      line-height: 1.5;
    }
    & h4 {
      font-size: 20px;
      color: $dark;
      line-height: 1.25;
      margin-bottom: 15px;
      text-align: justify;
    }
    & h4 span[lang="DE"] {
      font-size: 17.5px;
      line-height: 32px;
      text-align: justify;
    }
    & li {
      margin-bottom: 20px;
      text-align: justify;
    }
  }
}
