$mobile: 1100px;
$desktop: 1600px;
$dark: #141628;

.inner-dashboard {
  min-height: 100vh;
}
.reciept-card {
  width: 100%;
  max-width: 800px;
  padding: 50px;
  border-radius: 10px;
  margin: 3rem auto;
  box-shadow: rgba(0, 0, 29, 0.25) 0px 10px 20px 0px;
  background-color: rgb(248, 248, 248);
}
.empty-box {
  display: flex; flex-direction: column;
  align-items: center;
  row-gap: 25px;
  margin: 75px 0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 29, 0.25);
  & .box-title {
    color: $dark;
    font-size: x-large;
    text-align: center;
  }
  & .box-img {
    width: 300px;
  }
  & .instructions {
    font-size: large;
    color: $dark;
    opacity: .8;
    width: 80%;
    text-align: center;
    & span {
      font-weight: 700;
      font-family: var(--bs-body-font-family);
    }
  }
  & .r-btn {
    margin: 15px 0 25px;
  }
}
