.info-line {
  & .rs-badge-content {
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2.5px;
    right: 2.5px;
    padding: 0;
    background-color: #131413;
  }
}
