$small: 450px;
$limit: 650px;
$mobile: 768px;
$tablet: 1100px;
$desktop: 1600px;

$dark: #141628;
$dark-light: rgb(75, 75, 75);
$main: #3598FE;
$white: #FEFEFE;
$dark-blue: #3549FE;
$border-color: #D9DEED;
$red: rgb(195, 0, 16);
$green: #4caf50;
$blue-shadow: #359AFE7B;
$dark-shadow: rgba(0, 0, 29, .25);
$dark-blue-shadow: #3549FE7B;

// Modal
#invest-modal {
  & .modal-head {
    & .title {
      text-align: center;
      color: $dark;
      font-size: x-large;
    }
    & .information {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      row-gap: 5px;
      & .info-row {
        text-align: center;
        font-size: medium;
        margin: 0;
      }
    }
  }
  & .modal-body {
    display: flex;
    flex-direction: column;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  &::-webkit-scrollbar { width: 0 !important }
    & .inner-title {
      text-align: center;
      color: $dark;
      font-size: large;
    }
    & .bonus-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
      & .bonus {
        text-align: center;
        color: $green;
      }
      & .bonus-number {
        color: $green;
        border: 2px solid $border-color;
        padding: 10px;
        font-size: large;
        line-height: 1;
        font-weight: 700;
        border-radius: 5px;
        box-shadow: 0 3px 6px 0 $dark-shadow;
      }
    }
    // Buttons with amount
    // Wrap
    & .options {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-self: center;
      margin: 35px 0;
      row-gap: 25px;
      max-width: 750px;
      column-gap: 5px;
      @media (max-width: $tablet) {
        max-width: 100%;
        justify-content: space-evenly;
        column-gap: 15px;
      }
      // Button
      & .option-btn {
        width: 200px;
        background: none;
        color: $dark;
        border: 2px solid $dark;
        font-weight: 700;
        font-size: medium;
        transition: all 100ms ease-out;
        @media (max-width: $tablet) {
          width: 250px;
        }
        &.chosen {
          background: $green;
          color: $border-color;
          border-color: $border-color;
          box-shadow: 0 2px 4px 0 $dark-shadow;
        }
        &:hover {
          background: $green;
          color: $border-color;
          border-color: $border-color;
          box-shadow: 0 2px 4px 0 $dark-shadow;
        }
        &:active {
          transform: scale(.95, .95);
        }
        & .rs-input-number-btn-group-vertical {
          display: none;
        }
        // Input
        & .rs-input {
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          color: $dark;
          &::placeholder {
            text-align: center;
            color: $dark;
          }
          &:hover {
            cursor: pointer;
            &::placeholder {
              color: $white;
            }
          }
          &:focus {color: $dark;}
          &:focus-within {color: $white; }
        }
      }
      // Input when active
      & .option-btn.active {
        color: $dark;
        border: 2px solid $dark;
        font-weight: 700;
        transition: all 100ms ease-out;
        &:hover {
          background-color: rgba(0,0,0,0);
          color: $dark;
          box-shadow: 0 2px 4px 0 $dark-shadow;
        }
        &:active {
          transform: scale(.95, .95);
        }
        & .rs-input-number-btn-group-vertical {
          display: none;
        }
        & .rs-input {
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          color: $dark;
          &::placeholder {
            text-align: center;
            color: $dark;
          }
          &:hover {
            cursor: pointer;
            &::placeholder {
              color: $dark;
            }
          }
          &:focus {color: $dark;}
          &:focus-within {color: $dark; }
        }
      }
    }
    // Terms and conditions
    & .accept {
      width: 100%;
      max-width: 800px;
      margin-top: 35px;
      display: flex;
      column-gap: 10px;
      align-items: center;
      align-self: center;
      justify-content: center;
      margin: 50px 0;
      @media (max-width: $tablet) {
        max-width: 100%;
        margin-top: 15px;
      }
      & .rs-toggle {
        & .rs-toggle-presentation {
          background-color: $red;
        }
      }
      & .rs-toggle.rs-toggle-checked {
        & .rs-toggle-presentation {
          background-color: $main;
        }
      }
      & .txt {
        @media (max-width: $mobile) {
          font-size: smaller;
        }
      }
    }
  }
  & .modal-footer {
    // Buttons
    & .btn-wrap {
      display: flex;
      width: 100%;
      justify-content: center;
      column-gap: 20px;
      row-gap: 20px;
      @media (max-width: $mobile) {
        width: 100%;
        flex-wrap: wrap;
      }
      & .r-btn.rs-btn.rs-btn-primary {
        width: 50%;
        @media (max-width: $mobile) {
          width: 100%;
          font-size: small;
        }
        @media (max-width: $small) {
          font-size: x-small;
        }
      }
      & .btn-con {
        width: 300px;
        @media (max-width: $mobile) {
          width: 100%;
        }
        & .r-btn.rs-btn.rs-btn-primary {
          width: 100%;
          font-size: large;
          padding: 15px;
          font-weight: 700;
        }
      }
    }
  }
}

// Old Modal
.hidden-from-server {
  display: none;
}

// Checkout page
#checkout-page {
  overflow-y: auto;
  background-color: $white;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 25;
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .inner {
    padding: 100px 20px;
    width: 100%;
    max-width: 1200px;
    & .title {
      width: 100%;
      text-align: start;
      font-size: xx-large;
      color: $dark;
      line-height: 1;
    }
    // Cards
    & .content {
      display: flex;
      padding: 0;
      margin-top: 50px;
      column-gap: 20px;
      & .left-side {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        width: calc(70% - 20px);
        & .checkout-card {
          padding: 25px 20px;
          background: rgb(255, 255, 255);
          border: 1px solid rgb(217, 222, 237);
          box-shadow: rgb(238, 238, 238) 0px 1px 2px, rgb(238, 238, 238) 0px 2px 4px;
          border-radius: 8px;
          &.project {
            & .inner-card {
              display: flex;
              column-gap: 15px;
              // Image
              & .project-banner-img {
                width: 50px;
                height: auto;
                border-radius: 5px;
              }
              // Project name
              & .project-name {
                font-size: x-large;
                color: $dark;
                font-weight: 500;
              }
              & .fake-select {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2.5px;
                background-color: rgb(242, 242, 242);
                border: 2px solid rgb(217, 222, 237);
                color: #8d8d8d;
                font-size: medium;
                padding: 5px;
                height: 48px;
                cursor: default;
              }
            }
          }
          &.personal-data {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            column-gap: 10px;
            & .inner-title {
              font-size: x-large;
              color: $dark;
            }
            & .inputs {
              display: flex;
              flex-direction: column;
              row-gap: 15px;
              & .input-element {
                display: flex;
                justify-content: space-between;
                & .bigger {
                  width: calc(70% - 10px);
                }
                & .smaller {
                  width: calc(30% - 10px);
                }
                & .fair {
                  width: calc(50% - 10px);
                  flex-grow: 0; flex-shrink: 0;
                }
                & label {
                  color: $dark-light;
                  letter-spacing: 2px;
                  font-weight: 500;
                  font-size: 0.75rem;
                  text-transform: uppercase;
                  padding-bottom: 0.25rem;
                }
                & .full-width {
                  width: 100%
                }
                & input {
                  box-sizing: border-box;
                  width: 100%;
                  height: 48px;
                  //border-color: $border-color;
                  border-width: 2px;
                  border-radius: 2.5px;
                  font-size: 18px;
                  @media (max-width: $limit) {
                    font-size: 15px;
                  }
                  @media (max-width: $small) {
                    font-size: 12px;
                  }
                  &:focus, :focus-within, :focus-visible {
                    outline: none;
                    &::after, &::before {
                    display: none;
                  }
                }
              }
            }
          }
        }
        &.payment {
          & .title {
            font-size: x-large;
            color: $dark;
            margin-bottom: 5px;
          }
          & .under-title {
            margin-bottom: 25px;
          }
          & .radio-btns-con {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
            width: 100%;
            max-width: 400px;
            & .rs-form-group {
              width: 100%;
              margin: 15px 0 45px;
              // Withdrawal Methods!
              &.withdrawal-methods {
                margin: 15px 0 0;
              }
            }
            & .radio-btn-con {
              padding: 5px 0;
              // border-top: 1px solid $dark;
              & .rs-radio {
                display: flex;
                align-items: center;
                & .rs-radio-checker {
                  width: 100%;
                  & label {
                    display: block;
                    & .rs-radio-wrapper {
                      top: calc(50% - 8px);
                    }
                    & .radio-inner {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      column-gap: 15px;
                      & .icon {
                        width: 3rem;
                        height: 1.5rem;
                        border-radius: 5px;
                        box-shadow: 0 2px 4px 0 $dark-shadow;
                        color: $green;
                      &.dark {
                        background-color: $dark;
                        color: $red;
                        }
                      }
                      & .option-brand {
                        flex: 1 1 0%;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        letter-spacing: 0.5px;
                        font-weight: 400;
                        color: rgb(20, 20, 20);
                        cursor: pointer;
                      }
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
    & .right-side {
      width: calc(30% - 20px);
      & .checkout-card {
        padding: 25px 20px;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(217, 222, 237);
        box-shadow: rgb(238, 238, 238) 0px 1px 2px, rgb(238, 238, 238) 0px 2px 4px;
        border-radius: 8px;
        position: relative;
        &.summary {
          display: flex;
          flex-direction: column;
          row-gap: 0px;
          & .title {
            font-size: x-large;
            color: $dark;
            margin-bottom: 20px;
          }
          & .all-summary-info {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            & .summary-info {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: large;
              color: $dark;
              & p {
                margin: 0;
              }
            }
          }
          & .all-summary-sums {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            & .summary-info {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              font-size: large;
              color: $dark;
              & p {
                margin: 0;
                font-weight: 700;
                & .small {
                  font-weight: 400;
                }
              }
              & .overall-shares, & .overall-sum {
                color: $main;
              }
            }
          }
          & .juristics {
            display: flex;
            align-items: flex-start;
            column-gap: 10px;
            margin-top: 25px;
            & .rs-toggle {
              & .rs-toggle-presentation {
                background-color: $red;
              }
            }
            & .rs-toggle.rs-toggle-checked {
              & .rs-toggle-presentation {
                background-color: $main;
              }
            }
            & .txt {
              @media (max-width: $mobile) {
                font-size: smaller;
              }
            }
          }
          & .r-main-btn {
            font-size: medium;
            padding: 10px 15px;
          }
          & .pp-con {
            position: absolute;
            bottom: 27.5px;
            display: none;
            opacity: 0;
            overflow-y: hidden;
            height: 35px;
            width: calc(100% - 40px);
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
}
}

.hidden-paypal-btns {
  position: absolute;
  top: -100%;
}
