// Sizes
$mobile: 768px;
$tablet: 1100px;
$desktop: 1600px;
// Colors
$dark: #141628;
$dark-light: rgb(75, 75, 75);
$dark-grey: #141414;
$main: #3598FE;
$white: #FEFEFE;
$dark-blue: #3549FE;
$border-color: #D9DEED;
$blue-shadow: #359AFE7B;
$dark-shadow: rgba(0, 0, 29, .25);
$dark-blue-shadow: #3549FE7B;

.custom-file-input {
    color: $white;

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &::before {
        content: 'Upload file';
        display: inline-block;
        background: linear-gradient(180deg, #2f9ed5, #2196f3);
        border-radius: 5px;
        padding: 10px 25px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        user-select: none;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 29, .15);
        cursor: pointer;
        color: whitesmoke;
        font-size: 10pt;
        transition: all 150ms ease-out;
    }

    &:active::before {
        opacity: .9;
    }
}

// ---------- Profile Card ----------
.profile-card {
  padding: 50px;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 29, 0.25) 0px 10px 20px 0px;
  margin: auto;
  background-color: rgb(248, 248, 248);
  @media (max-width: $mobile) {
    padding: 20px;
  }
  @media (max-width: $tablet) {
    padding: 25px;
  }
  // ----- Profile -----
  & .profile-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    @media (max-width: $tablet) {
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 10px;
      column-gap: 25px;
      flex-direction: column;
    }
    // Image
    & .profile-image-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      @media (max-width: $tablet) {
        justify-content: flex-start;
        row-gap: 15px;
      }
      & .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 29, 0.15) 0px 5px 15px 0px;
        margin-bottom: 15px;
        @media (max-width: $mobile) {
          width: 65px; height: 65px;
        }
        @media (max-width: $tablet) {
          width: 100px; height: 100px;
          margin-bottom: 5px;
        }
      }
      & .profile-avatar {
        width: 150px;
        height: 150px;
        background-color: rgb(16, 19, 26);
        color: rgb(248, 248, 248);
        font-size: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 29, 0.15) 0px 5px 15px 0px;
        margin-bottom: 15px;
        @media (max-width: $mobile) {
          width: 65px; height: 65px;
          font-size: 25px;
        }
        @media (max-width: $tablet) {
          width: 100px; height: 100px;
          margin-bottom: 5px;
          font-size: 35px;
        }
      }
    }
    // Information
    & .profile-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: space-between;
      flex-shrink: 0;
      width: 50%;
      @media (max-width: $tablet) {
        width: 100%;
      }
      & .text-inner {
        @media (max-width: $tablet) {
          width: 100%;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          align-items: center;
          padding: 25px 0 0;
          row-gap: 10px;
        }
        & .username {
          font-size: 32.5px;
          color: $dark;
          line-height: 1;
          @media (max-width: $mobile) {
            font-size: 18px;
          }
          @media (max-width: $tablet) {
            font-size: 22px;
          }
        }
        & .email {
          font-size: 20px;
          font-weight: 700;
          color: rgb(16, 19, 26);
          margin-top: 10px;
          @media (max-width: $mobile) {
            font-size: 22px;
          }
          @media (max-width: $tablet) {
            font-size: 18px;
            margin: 0;
          }
        }
        & .badge {
          font-size: 17.5px;
          color: rgb(16, 19, 26);
          font-weight: 500;
          margin: 10px 0 0;
          padding: 0;
          @media (max-width: $tablet) {
            font-size: 14px;
            margin: 0;
          }
        }
      }
    }
    & .profile-data {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $tablet) {
        width: 100%;
        flex-shrink: 0;
        align-items: center;
        row-gap: 25px;
      }
      & .birth-year, .location {
        font-size: 14px;
        color: rgb(16, 19, 26);
        display: flex;
        align-items: flex-start;
        @media (max-width: $tablet) {
          align-items: center;
          justify-content: center;
        }
        & .info-icon {
          margin-right: 7.5px;
        }
      }
      // Btn
      & .r-btn {
        width: 100%;
        max-width: 768px;
      }
    }
  }
  // ----- Money Card -----
  &:nth-child(odd) {
    & .title {
      text-align: center;
      font-size: 32.5px;
      color: $dark;
      line-height: 1;
      @media (max-width: $tablet) {
        font-size: 25px;
      }
      @media (max-width: $mobile) {
        font-size: 18px;
      }
    }
    & .under-title {
      text-align: center;
      font-size: 28px;
      color: $dark;
      line-height: 1;
      margin-top: 1.5em;
      margin-bottom: 2em;
      @media (max-width: $tablet) {
        font-size: 22px;
      }
      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }
  }
  // ----- Balance card -----
  &:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .title {
      font-size: 32.5px;
      color: $dark;
      line-height: 1;
      @media (max-width: $tablet) {
        font-size: 25px;
      }
      @media (max-width: $mobile) {
        font-size: 18px;
      }
    }
    & .btn-wrap {
      display: flex;
      margin-top: 40px;
      column-gap: 20px;
      row-gap: 20px;
      width: 100%;
      justify-content: center;
      @media (max-width: $tablet) {
        flex-direction: column;
      }
      & .r-btn {
        width: 300px;
        @media (max-width: $tablet) {
          width: 100%;
        }
      }
    }
  }
}
