.custom-file-input {
    color: white;

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &::before {
        content: 'Upload file';
        display: inline-block;
        background: linear-gradient(180deg, #2f9ed5, #2196f3);
        border-radius: 5px;
        padding: 10px 25px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 29, .15);
        cursor: pointer;
        color: whitesmoke;
        font-size: 10pt;
        transition: all 150ms ease-out;
    }

    &:active::before {
        opacity: .9;
    }
}