// Variables
// Colors
$dark: #141628;
$main: #3598FE;
$white: #fefefe;
$blue-shadow: #359afe7b;
$dark-shadow: rgba(0, 0, 29, .25);

// ---------- Navbar ----------
// ----- Menu Btn -----
.navbar-menu-btn-con {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  & .navbar-menu-btn {
    background-color: $white;
    color: $dark;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 29, .5);
    transition: all 300ms ease-in-out;
    &:hover {
      background-color: $white;
      color: $dark;
    }
    &:active {
      background-color: $white;
      color: $dark;
      transform: scale(.9,.9) translateY(3px);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 29, .5);
    }
  }
}
// ----- Menu -----
// Body
.r-phone-menu-body {
  // Nav
  .r-phone-nav {
    display: flex;
    flex-direction: column;
    // Btns
    & .r-btn {
      border-radius: 7.5px;
      padding: 10px 25px;
      font-size: smaller;
      box-shadow: 0 3px 6px 0 $blue-shadow;
      transition: all 300ms ease-in-out;
      &:hover {
        transform: scale(.95, .95) translateY(3px);
        box-shadow: 0 2px 4px 0 $blue-shadow;
      }
      &:active {
        transform: scale(.9, .9) translateY(3px);
        box-shadow: 0 1px 2px 0 $blue-shadow;
      }
    }
    .r-main-btn {
      background-color: $main;
      color: $white;
    }
  }
  // Toggle
  & .toggle-con {
    width: 100%;
  }
}

.r-page-wrap {
  box-sizing: border-box;
  width: 100%;

  // ----- Landing Page -----

  // ----- Hero -----
  & .r-fulll-hero {
    @media screen and (min-width: 1600px) {
      width: 100%;
    }
  }

  & .lp-hero {
    padding: 100px 20px;
    width: 100%;
    background-color: rgb(51,51,51); /* Updated background color */
    
    @media screen and (max-width: 1100px) {
      padding: 0 20px;
    }
    @media screen and (min-width: 1600px) {
      padding: 250px 20px;
      background-image: url('./components/images/hero_bg.svg');
      background-size: 100%;
    }

    // Text con
    .r-hero-txt-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1100px) {
        height: 100%;
        padding: 50px 0 50px;
        justify-content: space-evenly;
      }
      @media screen and (min-width: 1600px) {
        align-items: flex-start;
      }
      // Title
      & .r-hero-title.r-main-title {
        font-family: Poppins; /* Updated font family */
        color: #fff; /* Updated text color */
        text-align: center;
        @media screen and (min-width: 1600px) {
          margin-top: 25px;
          text-align: start;
        }
      }
      // Description
      .r-hero-des {
        max-width: 100%;
        color: #fff; /* Updated text color */
        opacity: 0.8;
        text-align: center;

        @media screen and (max-width: 1100px) {
          font-size: 20px;
        }
        @media screen and (min-width: 1600px) {
          text-align: start;
          margin-bottom: 50px;
          font-size: 30px;
        }
      }
      // Buttons
      .btns-wrap {
        width: 100%;
        display: flex;
        column-gap: 25px;
        row-gap: 25px;
        flex-wrap: wrap;
        flex-direction: row;
        @media (max-width: 1100px) and (min-width: 768px) {
          flex-direction: column;
        }
        @media (max-width: 768px) {
          justify-content: center;
        }
      }
    }
    // Logo
    .r-hero-img {
      width: 250px;
      height: 250px;

      @media screen and (max-width: 1100px) {
        width: 150px;
        height: 150px;
      }
      @media screen and (min-width: 1600px) {
        width: 450px;
        height: 300px;
        object-fit: fill;
      }
    }
  }

  // ----- Upper CTA -----
  .r-cta-upper {
    padding: 100px 20px;
    
    @media (min-width: 1600px) {
      padding: 250px 20px;
      background-color: #141628; /* Updated background color */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .r-cta-upper-title {
      color: rgb(51,51,51); /* Updated text color */
      @media (min-width: 1600px) {
        color: #fff; /* Updated text color */
        text-align: center;
      }
    }

    & .r-cta-upper-des {
      @media (min-width: 1600px) {
        color: #fff; /* Updated text color */
        text-align: center;
      }
    }
  }

  // ----- Features -----
  .r-features-con {
    padding: 100px 20px;

    .r-feature-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 100px auto;

      .img-con {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img {
          width: 80%;
          height: auto;
        }
      }

      & h3 {
        font-family: Poppins; /* Updated font family */
        font-size: 30px;
        color: rgb(51,51,51); /* Updated text color */
        line-height: 1.25;

        @media screen and (max-width: 1100px) {
          font-size: 25px;
        }
      }
    }
  }

  // ----- APP showcase -----
  // Wrap
  & .r-showcase-con {
    padding: 100px 20px;

    // APP img container
    & .r-showcase-img-con {
      order: 1;

      @media screen and (max-width: 1100px) {
        order: 2;
      }

      & img {
        image-orientation: none;
      }
    }

    .r-showcase-txt-con {
      order: 2;

      // Title
      & .r-main-title {
        color: rgb(51,51,51); /* Updated text color */
        margin-bottom: 75px;

        @media screen and (max-width: 1100px) {
          text-align: center;
        }

        @media (min-width: 1600px) {
          margin-bottom: 150px;
        }
      }

      // Buttons
      & .small, .brand {
        color: #fefefe;
      }
      & .brand {
        font-size: 20px;
      }
    }

    // Image container on phone
    & .phone-img-con {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      // Image
      & img {
        width: 75%;
      }
    }
  }

  // ----- CTA Down -----
  & .r-cta-down {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // Components
  .r-main-title {
    font-family: Poppins; /* Updated font family */
    font-size: 35px;
    color: rgb(51,51,51); /* Updated text color */
    line-height: 1.25;

    @media screen and (max-width: 1100px) {
      font-size: 28px;
    }

    @media screen and (min-width: 1600px) {
      font-size: 50px;
    }
  }

  .r-sub-title {
    font-family: Poppins; /* Updated font family */
    font-size: 32px;
    font-weight: 500;
    color: rgb(51,51,51); /* Updated text color */
    line-height: 1.25;

    @media screen and (max-width: 1100px) {
      font-size: 28px;
    }

    @media screen and (min-width: 1600px) {
      font-size: 40px;
    }
  }

  .r-main-des {
    font-family: Poppins; /* Updated font family */
    font-size: 28px;
    opacity: 0.8;
    color: rgb(51,51,51); /* Updated text color */
    line-height: 1.15;

    @media screen and (max-width: 1100px) {
      font-size: 22.5px;
    }
  }

  .r-btn {
    border-radius: 7.5px;
    padding: 10px 25px;
    font-size: medium;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;

    &.r-main-btn {
      &.noti-btn {
        font-size: small;
        padding: 5px !important;
      }
    }

    &:hover {
      transform: scale(0.95, 0.95) translateY(3px);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(0.9, 0.9) translateY(3px);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 1600px) {
      font-size: x-large;
      padding: 20px 45px;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .r-main-btn {
    background-color: rgb(51,51,51); /* Updated button background color */
    color: #fff; /* Updated button text color */
  }

  .r-secondary-btn {
    background-color: #fff; /* Updated button background color */
    color: rgb(51,51,51); /* Updated button text color */
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #fff; /* Updated button background color */
      color: rgb(51,51,51); /* Updated button text color */
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    }

    &:active {
      background-color: #fff; /* Updated button background color */
      color: rgb(51,51,51); /* Updated button text color */
      opacity: 0.8;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }
}


// ---------- Bundle Page ----------
// ----- Overview -----
// Recent investors Wrap
.r-bundle-users-wrap {
  @media (max-width: 1100px) {
    max-width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.r-bundle-notice-content {
  @media (max-width: 1100px) {
    text-align: justify;
  }
}

// ---------- Auth Pages ----------
// ----- Navbar -----
.r-back-nav {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $main;
  z-index: 9;
  box-shadow: 0 10px 20px 0 $dark-shadow;
  & .inner {
    position: relative;
    width: 100%;
    & .r-btn {
      background-color: $white;
      color: $dark;
      & .r-icon {
        position: relative;
        width: 50px;
        z-index: 2;
      }
    }
    & .r-title {
      display: flex;
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      text-align: center;
      z-index: 1;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 25px;
      font-weight: 700;
    }
  }
}

.rs-navbar-right {
  .r-btn {
    border-radius: 7.5px;
    padding: 10px 25px;
    font-size: medium;
    box-shadow: 0 3px 6px 0 $blue-shadow;
    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(.95, .95) translateY(3px);
      box-shadow: 0 2px 4px 0 $blue-shadow;
    }
    &:active {
      transform: scale(.9, .9) translateY(3px);
      box-shadow: 0 1px 2px 0 $blue-shadow;
    }
    @media screen and (min-width: 1600px) {
      font-size: 30px;
      padding: 20px 45px;
      box-shadow: 0 10px 20px 0 $blue-shadow;
    }
  }
  .r-main-btn {
    background-color: $main;
    color: $white;
  }
  .r-secondary-btn {
    background-color: $white;
    color: $dark;
    box-shadow: 0 10px 20px 0 $dark-shadow;
    &:hover {
      background-color: $white;
      color: $dark;
      box-shadow: 0 5px 10px 0 $dark-shadow;
    }
    &:active {
      background-color: $white;
      color: $dark;
      opacity: .8;
      box-shadow: 0 1px 2px 0 $dark-shadow;
    }
  }
}

// ---------- RS elements ----------
// ----- Btns -----
.rs-btn {
  &.r-btn {
    border-radius: 7.5px;
    padding: 10px 25px;
    font-size: medium;
    box-shadow: 0 3px 6px 0 $blue-shadow;
    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(.95, .95) translateY(3px);
      box-shadow: 0 2px 4px 0 $blue-shadow;
    }
    &:active {
      transform: scale(.9, .9) translateY(3px);
      box-shadow: 0 1px 2px 0 $blue-shadow;
    }
    @media screen and (min-width: 1600px) {
      font-size: large;
      padding: 15px 30px;
      box-shadow: 0 6px 12px 0 $blue-shadow;
    }
  }
  &.r-nav-btn {
    padding: 5px 10px;
    font-size: small;
    background-color: $white;
    color: $dark;
    font-weight: 700;
    box-shadow: 0 10px 20px 0 $dark-shadow;
    @media (min-width: 1600px) {
      font-size: 25px;
      padding: 10px 20px;
      font-weight: 700;
    }
    &:hover {
      background-color: $white;
      color: $dark;
      box-shadow: 0 5px 10px 0 $dark-shadow;
    }
    &:active {
      background-color: $white;
      color: $dark;
      opacity: .8;
      box-shadow: 0 1px 2px 0 $dark-shadow;
    }
  }
  &.r-main-btn {
    background-color: $main;
    color: $white;
  }
  &.r-secondary-btn {
    background-color: $white;
    color: $dark;
    box-shadow: 0 10px 20px 0 $dark-shadow;
    &:hover {
      background-color: $white;
      color: $dark;
      box-shadow: 0 5px 10px 0 $dark-shadow;
    }
    &:active {
      background-color: $white;
      color: $dark;
      opacity: .8;
      box-shadow: 0 1px 2px 0 $dark-shadow;
    }
  }
}
// ----- Progress Circle -----
.project-process {

  & .rs-progress-circle-info {
    & span {
      color: $dark;
    }
  }
}

// ----- Secondary navbar in Bundle Page -----
.rs-navbar-nav.rs-nav.rs-nav-default {
  & .bundle-nav.active-nav-item {
    background-color: #e5e5ea;
  }
}


// App Teaser
// Buttons
.r-btns-con {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  row-gap: 15px;
  @media (max-width: 1100px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 25px;
    & .phone-img-con {
      width: 100%;
      flex-shrink: 0;
      & img {
        width: 250px!important;
        height: auto;
      }
    }
  }
  @media (min-width: 1600px) {
  }
  & .app-btn {
    width: 175px;
  }
}

.contain {
  object-fit: contain;
}
