$small: 450px;
$limit: 650px;
$mobile: 768px;
$tablet: 1100px;
$desktop: 1600px;

$dark: #141628;
$dark-light: rgb(75, 75, 75);
$main: #3598FE;
$white: #FEFEFE;
$dark-blue: #3549FE;
$border-color: #D9DEED;
$red: rgb(195, 0, 16);
$green: #4caf50;
$blue-shadow: #359AFE7B;
$dark-shadow: rgba(0, 0, 29, .25);
$dark-blue-shadow: #3549FE7B;

.thank-you-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .thank-you-title {
    margin-top: 125px;
    font-size: xx-large;
    color: $dark;
    text-align: center;
  }
  & .under-title {
    font-size: x-large;
    color: $dark;
    text-align: center;
  }
  & .welcome {
    font-size: x-large;
    color: $dark;
    text-align: center;
    margin-top: 15px;
  }
  & .extra-information {
    margin-top: 100px;
    color: $dark;
    text-align: center;
  }
}
